@charset 'UTF-8'; /* index */
#wrap.main #ct {
    font-family: 'Montserrat','NotoSans';
}

#wrap.main #ct:before {
    display: none;
}

#wrap.main #quick {
    top: 650px;
}

.lnb {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0 .83rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
}

.lnb .nav-link {
    padding: 0;
    color: #888;
    font-size: 1.25rem;
}

.visual-swiper {
    max-width: 1920px;
    margin: 0 auto;
}

.visual-image {
    display: block;
    position: relative;
}

.visual-image > img {
    position: relative;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
}

.visual-image > img:first-child {
    width: 100%;
}

.visual-image > img + img {
    border-radius: 3.3vw;
}

.visual-swiper {
    display: block;
}

/* s: 241125 추가 */

.fraction {
    display: flex;
    position: absolute;
    right: 4.33rem;
    bottom: 1.6rem;
    z-index: 5;
    align-items: center;
    justify-content: center;
    height: 2.33rem;
    border-radius: 2.33rem;
    color: rgba(255,255,255,.8);
    font-weight: lighter;
    line-height: 2.33rem;
    background: rgba(51,51,51,.5);
    padding: 0 1rem 0 1rem;
}

/* e: 241125 추가 */

.fraction .swiper-pagination-current {
    color: #fff;
}

.fraction .link-ev {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background: url(../../img/icon/icon_plus_wh.png) no-repeat center;
    background-size: 0.83rem auto;
    margin-left: 0.33rem;
    display: none;
}

/* s: 241125 추가 */

.control {
    display: flex;
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
    z-index: 5;
    align-items: center;
    justify-content: center;
    height: 2.33rem;
    width: 2.33rem;
    border-radius: 2.33rem;
    background: rgba(51,51,51,.5);
}

/* e: 241125 추가 */

.control .swiper-button-auto.pause {
    background-image: url(../../img/icon/icon_pause_wh.png);
}

.control .swiper-button-auto.play {
    background-image: url(../../img/icon/icon_play_wh.png);
}

[class*=main-sect] {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
}

.ic-title {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.3;
}

.ic-title > [class*=icon] {
    margin-right: .8rem;
    background-size: auto 100%;
}

.icon-partner {
    width: 1.76rem;
    height: 1.84rem;
    background-image: url(../../img/main/icon_partner.png);
}

.icon-plan {
    width: 1.76rem;
    height: 1.84rem;
    background-image: url(../../img/main/icon_plan.png);
}

.icon-phone02 {
    width: 2.18rem;
    height: 2.56rem;
    background-image: url(../../img/main/icon_phone02.png);
}

.partner-buttons {
    display: block;
    overflow: hidden;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
}

.partner-buttons > li {
    display: inline-block;
    vertical-align: top;
}

.partner-buttons > li:not(:last-child) {
    padding-right: 2rem;
}

.partner-buttons > li > a {
    display: block;
    position: relative;
    padding: 0 0 .8rem;
}

/* [class*=icon-part-] {display: block;width: 3.8rem;height: 3.8rem;margin: 1.2rem auto .6rem;border-radius: 100%;background-size: 3.8rem auto;transition: all .4s;filter: grayscale(1);opacity: .3;} */
[class*=icon-part-] {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 1.2rem auto .6rem;
    /*border-radius: 100%; */
    background-size: 8rem auto;
    background-position: top right -5%;
    transition: opacity .8 ease-out;
}

.partner-buttons > li > a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: .44rem;
    height: .44rem;
    margin-left: -.22rem;
    border-radius: 100%;
    background: #EA002C;
    transition: all .4s;
    opacity: 0;
}

.partner-buttons > li > .active {
    font-weight: 500;
}

.partner-buttons > li > .active:before {
    opacity: 1;
}

.custom-pagination .swiper-pagination {
    position: static;
    width: auto;
}

.active [class*=icon-part-] {
    background-position: top left;
    filter: none;
    opacity: 1;
}

/* .icon-part-hana {background-image: url(html/images/main/icon_part_hana.png);} */
/* .icon-part-wave {background-image: url(html/images/main/icon_part_wave.png);} */
/* .icon-part-cu {background-image: url(html/images/main/icon_part_cu.png);} */
/* .icon-part-homeplus {background-image: url(html/images/main/icon_part_homeplus.png);} */
/* .icon-part-lpoint {background-image: url(html/images/main/icon_part_lpoint.png);} */
/* .icon-part-bunjang {background-image: url(html/images/main/icon_part_bunjang.png);} */
/* .icon-part-kyobo {background-image: url(html/images/main/icon_part_kyobo.png);} */
/* .icon-part-old {background-image: url(html/images/main/icon_part_old.png);} */
/* .icon-part-seven11 {background-image: url(html/images/main/icon_part_seven11.png);} */
/* .active [class*=icon-part-] {filter: none; opacity: 1;} */
/* .icon-part-hana {background-image: url(../../img/main/icon_part_hana.png);} */
/* .icon-part-wave {background-image: url(../../img/main/icon_part_wave.png);} */
/* .icon-part-cu {background-image: url(../../img/main/icon_part_cu.png);} */
/* .icon-part-homeplus {background-image: url(../../img/main/icon_part_homeplus.png);} */
/* .icon-part-lpoint {background-image: url(../../img/main/icon_part_lpoint.png);} */
/* .icon-part-bunjang {background-image: url(../../img/main/icon_part_bunjang.png);} */
/* .icon-part-kyobo {background-image: url(../../img/main/icon_part_kyobo.png);} */
/* .icon-part-old {background-image: url(../../img/main/icon_part_old.png);} */
/* .icon-part-seven11 {background-image: url(../../img/main/icon_part_seven11.png);} */
/* .active .icon-part-hana {box-shadow: .28rem .28rem 1.2rem 0 rgba(0, 144, 144, .3);} */
/* .active .icon-part-wave {box-shadow: .28rem .28rem 1.2rem 0 rgba(108, 156, 255, .3);} */
/* .active .icon-part-cu {box-shadow: .28rem .28rem 1.2rem 0 rgba(100, 43, 141, .3);} */
/* .active .icon-part-homeplus {box-shadow: .28rem .28rem 1.2rem 0 rgba(237, 28, 36, .3);} */
/* .active .icon-part-lpoint {box-shadow: .28rem .28rem 1.2rem 0 rgba(0, 155, 250, .3);} */
/* .active .icon-part-bunjang {box-shadow: .28rem .28rem 1.2rem 0 rgba(248, 0, 0, .3);} */
/* .active .icon-part-kyobo {box-shadow: .28rem .28rem 1.2rem 0 rgba(108, 179, 39, .3);} */
/* .active .icon-part-old {box-shadow: .28rem .28rem 1.2rem 0 rgba(255, 108, 45, .3);} */
/* .active .icon-part-seven11 { box-shadow: 0.28rem 0.28rem 1.2rem 0 rgba(19, 116, 72, .3); } */
/* .active .icon-part-active {display : block;} */
/* .active .icon-part-passive {display : none;} */
/* .icon-part-active {display : none;} */
/* .icon-part-passive {display : block;} */
.partner-swiper {
    overflow: hidden;
    margin-top: 2.68rem;
    border-radius: 1rem;
}

.partner-swiper .swiper-pagination {
    right: auto;
    bottom: 1.3rem;
    left: 2.52rem;
    width: auto;
    text-align: left;
}

.partner-swiper .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .44rem 0 0;
}

/* .main-sect-rcmd {padding-top: 0 !important;} */
.main-sect-rcmd .ic-title strong {
    position: relative;
    z-index: 1;
}

/* 221208 추가 */
.main-sect-rcmd .ic-title strong::before {
    content: '';
    position: absolute;
    width: 99%;
    left: 0;
    bottom: 2px;
    z-index: -1;
    border-top: .68rem solid #d2d1f8;
}

/* 221208 추가 */
.main-sect-rcmd .nav {
    position: relative;
    z-index: 1;
    margin-bottom: -3.7rem;
    border-radius: 1.6rem;
    background: #eee;
}

.main-sect-rcmd .nav-link {
    width: 49%;
}

.main-sect-rcmd .nav-link,.main-sect-rcmd .nav i {
    flex: auto;
    padding: 0;
    border-radius: 1.6rem;
    font-size: 1.28rem;
    line-height: 3.84rem;
    transition: all .4s;
}

.main-sect-rcmd .nav-link.active {
    width: 51%;
    color: #fff;
}

.main-sect-rcmd .nav i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 51%;
    height: 100%;
    background: #5857d8;
}

/*.main-sect-rcmd .nav i:after{content: '';position: absolute;top: 100%;left: 50%;width: 0;height: 0;border: .68rem solid transparent;border-width: .68rem .4rem;border-top-color: #5857d8}*/
.main-sect-rcmd .nav i:before {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 0;
    left: 25%;
    border-radius: 1rem;
    box-shadow: 0px 2rem 2rem -1.6rem #5857d8;
}

.main-sect-rcmd .nav-link.active + i {
    left: 49%;
}

.main-sect-rcmd .tab-content {
    overflow: hidden;
    padding-top: 3.84rem;
    border: 1px solid #5857d8;
    border-radius: 1.6rem;
}

/* 20210526 */
/* .main-sect-partner { padding-top: 0 !important; } */
.main-sect-partner .ic-title strong {
    position: relative;
    z-index: 9;
}

.main-sect-partner .ic-title strong::before {
    content: '';
    position: absolute;
    width: 101%;
    left: 0%;
    bottom: 5px;
    z-index: -1;
    border-top: .68rem solid #dfdfdf;
}

/* 유심요금제 시작 */
.main-sect-plan, .main-sect-partner {
    padding-top: 0 !important;
}

.main-sect-plan .ic-title {
    line-height: 1.7;
}

.main-sect-plan .ic-title strong {
    position: relative;
    z-index: 1;
}

.main-sect-plan .ic-title strong::before {
    content: '';
    position: absolute;
    width: 99%;
    left: 0;
    bottom: 2px;
    z-index: -1;
    border-top: .68rem solid #ffd4f0;
}

.main-sect-plan .nav {
    position: relative;
    z-index: 1;
    margin-bottom: -3.7rem;
    border-radius: 1.6rem;
    background: #eee;
}

.main-sect-plan .nav-link {
    width: 49%;
}

.main-sect-plan .nav-link, .main-sect-plan .nav i {
    flex: auto;
    padding: 0;
    border-radius: 1.6rem;
    font-size: 1.28rem;
    line-height: 3.84rem;
    transition: all .4s;
}

.main-sect-plan .nav-link.active {
    width: 51%;
    color: #fff;
}

.main-sect-plan .nav i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 51%;
    height: 100%;
    background: #d450a6;
}

.main-sect-plan .nav i:before {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 0;
    left: 25%;
    border-radius: 1rem;
    box-shadow: 0px 2rem 2rem -1.6rem #d450a6;
}

.main-sect-plan .nav-link.active+i {
    left: 49%;
}

.main-sect-plan .tab-content {
    overflow: hidden;
    padding-top: 3.84rem;
    border: 1px solid #d450a6;
    border-radius: 1.6rem;
}

.main-sect-plan .q-box {
    padding: 2.8rem 0;
    text-align: center;
    background: #e9e9f8;
}

.main-sect-plan .q-num {
    display: block;
    width: 2.2rem;
    margin: 1.2rem auto;
    border-radius: 100%;
    color: #fff;
    font-size: .92rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.2rem;
    background: #764ccb;
}

.main-sect-plan .q-btn input:checked+label {
    color: #fff;
    background-size: 104%;
    background-color: transparent;
    background-image: url(../../img/main/q_btn_chk02.png);
    box-shadow: .04rem .6rem 1.52rem -.24rem rgba(118, 76, 203, 1);
}

.main-sect-plan .text-primary {
    color: #43208c !important;
}

.main-sect-plan .q-text strong:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-top: .68rem solid #d2d1f8;
}

.phone_mb_part .q-text {
    position: relative;
    font-size: 1.5rem;
    font-weight: 300;
}

.phone_mb_part .q-text.txt01 {
    line-height: 1.2;
}

.phone_mb_part .q-text.txt02 {
    line-height: 1.3;
}

.phone_mb_part .q-text strong {
    position: relative;
}

.phone_mb_part .q-text strong::before {
    content: '';
    position: absolute;
    right: 0;
    top: 1.3rem;
    left: 0;
    z-index: -1;
    border-top: .68rem solid #d2d1f8;
}

.phone_mb_part .q-text strong::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;
    z-index: -1;
    border-top: .68rem solid #d2d1f8;
}

.btText01, .btText02, .btText03 {
    display: none;
}

/*유심요금제 끝*/
.rcmd-wrp {
    padding: 3rem 1.4rem 1.6rem;
    font-weight: 500;
}

.rcmd-text {
    display: block;
    margin-bottom: .32rem;
    padding-left: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.self_go {
    color: #000000;
    text-decoration: underline;
}

.rcmd-item {
    display: flex;
    margin: .4rem -.8rem 0;
    text-align: center;
}

.rcmd-item > li {
    padding: 0.6rem;
}

.rcmd-item-self {
    display: table-cell;
    width: 100%;
}

.rcmd-item-self>li {
    width: 8.2rem;
    float: left;
    margin: 1.2rem 0.4rem;
    position: relative;
    height: 8.2rem;
    cursor: pointer;
    border-radius: 90%;
    background: url(../../img/main/self_list.png) center 0 no-repeat;
}

.rcmd-item-self>li.check {
    background: url(../../img/main/self_list_ck.png) center 0 no-repeat;
    background-size: cover;
    color: #fff;
}

.rcmd-item-self>li>dl {
    width: 80%;
    line-height: 1.2;
    margin: 0.2rem auto 0;
}

.rcmd-item-self>li>dl>dt {
    font-size: 1.2rem;
}

.rcmd-item-self>li>dl>dd {
    font-size: 1.2rem;
    margin-top: 2px;
}

.rcmd-item-self>li.check::after {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    bottom: 7px;
    left: 25%;
    border-radius: 1rem;
    box-shadow: 0px 2rem 2rem -1.6rem #5857d8;
}

.dtem {
    color: #5857d8;
    text-align: center;
    letter-spacing: -.06em;
    line-height: 1.25;
}

.main-sect-plan .dtem {
    color: #d450a6;
}

.dtem .dtem-tit {
    min-height: 4.7rem;
}

.dtem .font-weight-light,.dtem-cap {
    font-size: .96em;
}

.dtem-tit .tit {
    font-size: 1.25em;
    font-weight: 400;
    display: block;
    min-height: 4.7rem;
}

.dtem-tit .sub {
    display: block;
}

.dtem-price {
    display: inline-block;
    vertical-align: top;
    min-width: 90%;
    margin-top: .8rem;
    padding-top: .52rem;
    border-top: 1px solid #e5e5e5;
    color: #000;
    font-size: 1.2rem;
}

.dtem-price > b {
    font-size: 1.333em;
}

.icon-rcmd,.icon-best,.icon-rcmd-v {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-size: 100% auto;
}

.icon-rcmd-v {
    background-image: url(../../img/icon/icon_rcmd_v.png);
    box-shadow: .28rem .28rem .4rem 0 rgba(118, 76, 203, .22);
}

.icon-rcmd {
    background-image: url(../../img/icon/icon_rcmd.png);
    box-shadow: .28rem .28rem .4rem 0 rgba(88, 87, 216, .22);
}

.icon-best {
    background-image: url(../../img/icon/icon_best.png);
    box-shadow: .28rem .28rem .4rem 0 rgba(248, 82, 114, .22);
}

.rcmd-item-usim, .rcmd-item-self {
    padding: 2rem 0;
}

.rcmd-item-usim [class*=icon] {
    display: block;
    margin: 0 auto .8rem;
}

.rcmd-image {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.rcmd-image img {
    position: relative;
    left: 50%;
    height: 11.2rem;
    margin-bottom: -.8rem;
    transform: translateX(-50%);
}

.rcmd-item-phone [class*=icon] {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 5;
}

.dtem-cap {
    margin-top: .08rem;
    color: #000;
}

.q-box {
    padding: 2.8rem 0;
    text-align: center;
    background: #eef0fb;
}

.icon-usim {
    width: 2.08rem;
    height: 1.8rem;
    background-image: url(../../img/main/icon_usim.png);
}

.icon-phone {
    width: 1.04rem;
    height: 1.8rem;
    background-image: url(../../img/main/icon_phone.png);
}

.q-num {
    display: block;
    width: 2.2rem;
    margin: 1.2rem auto;
    border-radius: 100%;
    color: #fff;
    font-size: .92rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.2rem;
    background: #5857d8;
}

.q-text {
    position: relative;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.3;
}

.q-text strong {
    position: relative;
    z-index: 1;
}

.q-text strong:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;
    z-index: -1;
    border-top: .68rem solid #d2d1f8;
}

.q-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4rem 0 2rem;
    column-gap: 0.8rem;
    row-gap: 0.7rem;
    padding: 0 1rem;
}

.q-btn {
    position: relative;
}

.q-btn .custom-control-input {
    position: absolute;
    top: -10px;
    left: -999rem;
    width: 100%;
    height: 100%;
}

.q-btn label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.4rem;
    height: 4rem;
    border-radius: 999px;
    color: #000;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.14;
    background-color: #fff;
    border: 1px solid #dddddd;
    transition: all .5s;
}

.m-br {
    display: inline;
}

.q-btn input:checked + label {
    color: #fff;
    background-color: #5857d8;
    border-color: #5857d8;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(88,87,216,.32);
    font-weight: 600;
}

.q-btn input:focus + label {
    outline: 1px dotted black;
}

.q-help {
    margin-bottom: 1.4rem;
    color: #2928bb;
    font-size: 1.12rem;
    font-weight: 300;
    padding: 0px 1rem;
}

.q-txt {
    margin-bottom: 1.4rem;
    color: #2928bb;
    font-size: 1.12rem;
    font-weight: 300;
}

.q-box .btn {
    width: 10.68rem;
    margin: 0 .32rem;
    padding: .72rem;
    box-shadow: .28rem .28rem .4rem 0 rgba(88, 87, 216, .22);
}

.q-box .btn-find {
    width: auto;
    margin: 0 auto;
    padding: .72rem;
    box-shadow: .28rem .28rem .4rem 0 rgba(88, 87, 216, .22);
}

.q-result,.q-step > li {
    display: none;
}

.q-result .q-text {
    font-size: 1.4rem;
}

.q-box-phone .q-btn label {
    font-size: 1.5rem;
    font-weight: bold;
}

.main-sect-plan .q-box .btn {
    box-shadow: rgba(121, 80, 204, 0.22) 0.28rem 0.28rem 0.4rem 0px;
}

.btn .rcmd-box {
    width: 77%;
    max-width: 600px;
    margin: 2.2rem auto 2.5rem;
    border-radius: .8rem;
    color: #fff;
    text-align: center;
    background: #6348a9 url(../../img/main/rcmd_box.jpg) no-repeat 100% 0/auto 100%;
    box-shadow: 0px 2rem 2.5rem -1.6rem #6348a9;
}

.rcmd-box {
    width: 77%;
    max-width: 600px;
    margin: 2.2rem auto 2.5rem;
    border-radius: .8rem;
    color: #fff;
    text-align: center;
    background: #5857d8 url(../../img/main/rcmd_box.jpg) no-repeat 100% 0/auto 100%;
    box-shadow: 0px 2rem 2.5rem -1.6rem #5857d8;
}

.rcmd-box.rcmd-box-phone {
    background: #6348a9 url(../../img/main/rcmd_box01.jpg) no-repeat 100% 0/auto 100%;
    box-shadow: 0px 2rem 2.5rem -1.6rem #6348a9;
    cursor: pointer;
}

.rcmd-box .price {
    color: #f6ff00;
    font-size: 1.6rem;
}

.rcmd-box .price .num {
    font-size: 1.5em;
    font-weight: 700;
}

.rcmd-box-usim {
    padding: 2.2rem 0;
    font-size: 1.12rem;
    cursor: pointer
}

.rcmd-box-usim .name {
    font-size: 1.6rem;
}

/* .rcmd-box-usim .name{font-size:1.7rem;font-weight:500} */
/* .rcmd-box-usim .name-sub{display:block;font-size:1.2rem;font-weight:500;line-height:1} */
/* .rcmd-box-usim.v2{display:flex;padding-bottom:0;justify-content:center;align-items:center;-ms-justify-content:center;-ms-align-items:center} */
/* .rcmd-box-usim.v2 .price{margin-bottom:10px;line-height:1} */
/* .rcmd-box-usim.v2 .txt{font-weight:300} */
/* .rcmd-box-usim .img-wrp{display:inline-block;width:30%} */
/* .rcmd-box-usim .txt-wrp{display:inline-block;width:58%;padding-bottom:10px;text-align:left} */
.rcmd-box-phone {
    padding: 1.2rem 2rem;
    font-size: .88rem;
    text-align: left;
}

.rcmd-box-phone .media {
    display: flex;
    align-items: initial;
}

.rcmd-box-phone .prdt {
    width: 31%;
    max-width: 150px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.rcmd-box-phone .prdt:before {
    content: '';
    display: block;
    padding-bottom: 124%;
}

.rcmd-box-phone .media-body {
    padding-left: 1rem;
    line-height: 1.2;
    padding-top: 4%
}

.rcmd-box-phone .name {
    font-size: 1.6rem;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rcmd-box-phone .type {
    display: block;
    margin: .4rem 0 2px;
    font-size: 1.12rem;
}

.rcmd-box-phone .media-body > .font-noto.font-weight-light {
    font-size: 1.12rem;
}

.rcmd-box-phone .price {
    display: block;
    margin: .2rem 0;
    font-size: 1.2rem;
}

.main-sect-review {
    background: #ffecee;
}

.main-sect-review .ic-title {
    color: #9c4551;
}

.main-sect-review .ic-title .u-line {
    position: relative;
    z-index: 1;
}

.main-sect-review .ic-title .u-line::before {
    content: '';
    position: absolute;
    width: 99%;
    left: 0;
    bottom: 2px;
    z-index: -1;
    border-top: .68rem solid #ffc9d0;
}

.main-sect-review .btn-shadow {
    box-shadow: .28rem .28rem .4rem 0 rgba(214, 160, 166, .25);
}

.icon-review {
    width: 1.88rem;
    height: 2.56rem;
    background-image: url(../../img/main/icon_review.png);
}

.review-swiper .swiper-slide {
    flex-basis: 67.3%;
    min-width: 67.3%;
    height: auto;
}

.review-swiper .card {
    display: block;
    visibility: visible !important;
    height: calc(100% - 1.5rem);
    margin: 0 1.6rem 1.5rem 0;
    background: #fff;
    box-shadow: .44rem .72rem 1.5rem 0px rgba(214, 160, 166, .25);
}

.review-swiper .card-text {
    display: -webkit-box;
    overflow: hidden;
    max-height: 11em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    line-height: 1.4em !important;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.icon-video {
    width: 1.76rem;
    height: 1.8rem;
    background-image: url(../../img/main/icon_video.png);
}

.main-video {
    overflow: hidden;
    position: relative;
    margin-bottom: 1.2rem;
    border-radius: 1.2rem;
}

.main-video-bigimg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-video-bigimg:after {
    content: '';
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 2.76rem;
    height: 2.76rem;
    background: url(../../img/main/play.png) no-repeat 50% 50%/2.76rem auto;
}

.video-swiper-control {
    right: 1.6rem;
    bottom: 0;
    z-index: 5;
}

.video-title {
    overflow: hidden;
    font-size: 1.28rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.video-tag {
    margin-top: 2px;
    color: #999;
    font-size: .96rem;
    font-weight: 300;
}

.main-sect-cs {
    padding-bottom: 0 !important;
    background: #f9f9f9;
}

.icon-faq {
    width: 2.12rem;
    height: 1.68rem;
    background-image: url(../../img/main/icon_faq.png);
}

.faq-item {
    border-bottom: 1px solid #e7e7e7;
}

.faq-item .num {
    display: block;
    min-width: 2rem;
    margin-right: 1rem;
    border-radius: 100%;
    color: #fff;
    font-style: normal;
    text-align: center;
    line-height: 2rem;
    background: #bebebe;
    box-shadow: .28rem .28rem .4rem 0 rgba(190, 190, 190, .22);
}

.faq-item .collapse-title:not(.collapsed) .num {
    background: #EA002C;
}

.faq-item .collapse-content {
    padding-left: 4.44rem;
}

.acc-faq1 .faq-item {
    border: 0;
}

.acc-faq1 .faq-item .num {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    min-width: 2rem;
    margin-right: 0;
    border-radius: 100%;
    color: #fff;
    font-style: normal;
    text-align: center;
    line-height: 2rem;
    background: #bebebe;
    transform: translateY(-50%);
    box-shadow: .28rem .28rem .4rem 0 rgba(190, 190, 190, .22);
}

.acc-faq1 .btn-toggle {
    padding-left: 4.6rem;
    color: #333;
    font-weight: 300;
}

.acc-faq1 .active .num {
    background: #EA002C;
}

.acc-faq1 .active .btn-toggle {
    color: #000;
    font-weight: 500;
}

.acc-faq1 .acc-content {
    padding-top: 0;
    padding-left: 4.44rem;
    border-top: 0;
    font-weight: 300;
    background: none;
}

.icon-cs {
    width: 7.32rem;
    height: 5.24rem;
    margin: 0 auto 1rem;
    background-image: url(../../img/main/cs.png);
    background-size: 100% auto;
}

.icon-notice {
    width: 1.72rem;
    height: 1.16rem;
    background-image: url(../../img/icon/icon_notice.png);
    background-size: 100% auto;
}

.notice-item {
    display: flex;
    align-items: center;
    height: 4.2rem;
}

.notice-item .tit {
    overflow: hidden;
    flex: 1;
    min-width: 0;
    padding: 0 .48rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-video-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.mvideo-swiper button {
    display: block
}

.modal-mainVideo .modal-body {
    padding: 0;
    overflow: visible
}

.modal-mainVideo .modal-content {
    background: transparent
}

.modal-mainVideo .btn-close {
    top: 8px;
    right: 8px;
    width: 52px;
    height: 52px;
    background: url(../../img/icon/icon-cls.png) no-repeat center;
    background-size: contain
}

.modal-mainVideo .video-wrp {
    position: relative;
    margin-top: 100px
}

.modal-mainVideo .video-wrp:before {
    content: '';
    display: block;
    padding-top: 56%
}

.modal-mainVideo .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0
}

.modal-content.type {
    width: 100% !important;
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    animation: animatebottom 0.7s;
}

@keyframes animatebottom {
    from {
        bottom: -500px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

.modal-content.type:after {
    bottom: 0;
}

.flt-swiper {
    max-width: 100%;
    margin: 0 auto;
}

#bnrFLT .modal-foot .btn {
    font-size: 14px;
}

#bnrFLT .modal-foot > span:first-child {
    flex: 3;
}

.flt-image {
    display: block;
    position: relative;
}

.flt-image > img {
    width: 100%;
}

/* s: 241125 추가 */

.flt-custom-pagination {
    display: flex;
    position: absolute;
    top: 5rem;
    right: 0rem;
    z-index: 5;
    width: auto;
}

.visual-swiper .flt-custom-pagination {
    top: 0rem;
}

/* e: 241125 추가 */

.flt-swiper .fraction {
    display: flex;
    position: absolute;
    right: 4.33rem;
    bottom: 1.6rem;
    z-index: 5;
    align-items: center;
    justify-content: center;
    height: 2.33rem;
    border-radius: 2.33rem;
    color: #a0a0a0;
    line-height: 2.33rem;
    background: rgba(51,51,51,.7);
    padding: 0 1rem 0 1.3rem
}

.flt-swiper .fraction .swiper-pagination-current {
    color: #fff;
}

.flt-swiper .control {
    display: flex;
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
    z-index: 5;
    align-items: center;
    justify-content: center;
    height: 2.33rem;
    width: 2.33rem;
    border-radius: 2.33rem;
    background: rgba(51,51,51,.7);
}

.btn-lgrey {
    border-color: #f3f3f3 !important;
    color: #111 !important;
    background: #f3f3f3 !important;
    text-align: left;
    padding-left: 20px !important;
}

.btn-grey {
    border-color: #e1e1e1 !important;
    color: #111 !important;
    background: #e1e1e1 !important;
}

.icon-close {
    width: 2.3rem;
    height: 2.3rem;
    background-image: url(../../img/icon/icon_close_02.png);
    background-size: auto 1.12rem;
    transform: translateY(-50%);
    z-index: 100;
}

.top-swiper {
    overflow: hidden;
}

.top-swiper .swiper-button-next, .top-swiper .swiper-button-prev {
    width: 0;
}

.flt-swiper .swiper-slide {
    width: 100% !important;
}

@media (min-width: 1080px) {
    /* s: 250701 플로팅 배너 사이즈 조정 (추가) */

    .modal-main#bnrFLT .modal-foot .btn {
        font-size: 18px;
        line-height: 28px;
    }

    .modal-main#bnrFLT .modal-foot .btn-lgrey {
        padding-left: 40px !important;
    }

    /* e: 250701 플로팅 배너 사이즈 조정 (추가) */

    .modal-content.type {
        width:620px !important;
        position: static;
        border-radius: 10px;
    }

    .flt-swiper .swiper-slide {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .flt-swiper {
        display: block;
        width: 620px;
    }

    .flt-swiper .swiper-slide {
        width: 620px !important;
    }

    .flt-image {
        display: block;
        position: relative;
        background: none !important;
    }

    .flt-custom-pagination {
        top: 20px;
        right: 20px;
    }

    .flt-custom-pagination .swiper-pagination {
        display: flex;
        overflow: hidden;
        position: static;
        flex: 1;
        border-radius: 4px;
        background: #fff;
    }

    .flt-custom-pagination .swiper-pagination-bullet {
        overflow: hidden;
        position: relative;
        flex: 1;
        width: auto;
        height: auto;
        padding: 0 6px;
        border-radius: 0;
        color: #7f7f7f;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: -.05em;
        line-height: 54px;
        opacity: 1;
    }

    .flt-custom-pagination .swiper-pagination-bullet:not(:first-child):before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        border-left: 1px solid #eaeaea;
    }

    .flt-custom-pagination .swiper-pagination-bullet-active {
        z-index: 1;
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        background: #5857d8;
    }

    .flt-swiper .fraction {
        position: static;
        width: 60px;
        min-width: 0;
        height: 34px;
        border-radius: 34px;
        line-height: 34px;
        margin-left: 10px;
        font-size: 16px
    }

    .flt-swiper .control {
        position: static;
        width: 34px;
        height: 34px;
        border-radius: 34px;
        line-height: 54px;
        margin-left: 10px;
    }

    .icon-close {
        width: 28px;
        height: 28px;
        background-size: 13px auto;
        transform: translateY(-50%);
    }

    .top-swiper {
        width: 100%;
    }

    .top-swiper img {
        width: 1120px;
    }

    .top-swiper .swiper-button-next, .top-swiper .swiper-button-prev {
        width: 50px;
        height: 50px;
        background-size: 13px auto;
    }

    .top-swiper .swiper-button-next {
        right: 50%;
        margin-right: -300px;
    }

    .top-swiper .swiper-button-prev {
        left: 50%;
        margin-left: -360px;
    }

    .top-banner .form-checkbox,.icon-close {
        z-index: 100;
    }
}

@media (min-width: 1080px) {
    .visual-swiper {
        display: block;
    }

    .visual-swiper.visual-swiper-mob {
        display: none;
    }

    .visual-image {
        display: block;
        position: relative;
        background: none !important;
    }

    .visual-custom-pagination {
        display: flex;
        position: absolute;
        bottom: auto;
        top: 20px;
        left: 50%;
        z-index: 5;
        width: 100%;
        max-width: 1120px;
        padding: 0 15px;
        transform: translateX(-50%);
        justify-content: flex-end;
    }

    .visual-custom-pagination .swiper-pagination {
        display: flex;
        overflow: hidden;
        position: static;
        flex: 1;
        border-radius: 0;
        color: rgba(255,255,255,.9);
        display: none !important;
    }

    .visual-custom-pagination .swiper-pagination-bullet {
        overflow: hidden;
        position: relative;
        flex: 1;
        width: auto;
        height: auto;
        padding: 0 6px;
        border-radius: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: -.05em;
        line-height: 54px;
        opacity: 1;
    }

    .visual-custom-pagination .swiper-pagination-bullet:not(:first-child):before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        border-left: 1px solid #eaeaea;
    }

    .visual-custom-pagination .swiper-pagination-bullet-active {
        z-index: 1;
        color: #fff;
        font-weight: 500;
        background: rgba(17,17,17,.60) !important;
    }

    .fraction {
        position: static;
        width: 80px;
        min-width: 0;
        height: 50px;
        line-height: 50px;
        margin-left: 1px;
        font-size: 18px;
    }

    .control {
        position: static;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-left: 10px;
    }

    [class*=main-sect] {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .ic-title {
        margin-bottom: 40px;
        font-size: 32px;
    }

    .ic-title > [class*=icon] {
        margin-right: 13px;
    }

    .main-sect-rcmd {
        margin-top: 20px;
    }

    .icon-partner {
        width: 36px;
        height: 38px;
    }

    .icon-plan {
        width: 36px;
        height: 38px;
    }

    .partner-buttons > li:not(:last-child) {
        padding-right: 60px;
    }

    .partner-buttons > li > a {
        padding-bottom: 12px;
    }

    [class*=icon-part-] {
        margin: 0 auto 8px;
    }

    .partner-buttons > li > a:before {
        width: 9px;
        height: 9px;
        margin-left: -4.5px;
        border-radius: 4.5px;
    }

    .partner-swiper {
        margin-top: 45px;
    }

    .partner-swiper .swiper-pagination {
        bottom: 50px;
        left: 13.3%;
    }

    .icon-rcmd,.icon-rcmd-v,.icon-best {
        width: 42px;
        height: 42px;
    }

    .rcmd-wrp {
        padding: 30px 40px;
    }

    .rcmd-item > li {
        padding: 0.8rem;
    }

    .rcmd-item-self {
        padding-top: 28px;
        margin: 0 auto;
    }

    .rcmd-item-self>li {
        width: 212px;
        height: 212px;
        margin: 1.2rem 3.0rem;
    }

    .rcmd-item-self.rcmd-item>li {
        padding: 2.0rem 2.0rem 2.75rem;
    }

    .rcmd-item-self>li>dl dt {
        padding-bottom: 12px;
    }

    .phone_mb_part .q-text strong::before {
        left: -4px
    }

    .dtem-price {
        min-width: 130px;
    }

    .dtem-tit .tit {
        font-size: 1.28em;
    }

    .dtem-tit .sub {
        display: inline;
    }

    .rcmd-item-usim [class*=icon] {
        margin-bottom: 10px;
    }

    .rcmd-item-usim {
        padding: 28px 0 10px;
    }

    .q-box .ic-title {
        margin-bottom: 15px;
        font-size: 23px;
        line-height: 1.8rem;
    }

    .q-box .ic-title br,.q-help br {
        display: none;
    }

    .q-num {
        display: inline-block;
        vertical-align: top;
        width: 34px;
        margin: 0;
        font-size: 14px;
        line-height: 34px;
    }

    .main-sect-plan .q-num {
        display: inline-block;
        vertical-align: top;
        width: 34px;
        margin: 0;
        font-size: 14px;
        line-height: 34px;
    }

    .q-text {
        display: inline;
        font-size: 28px;
        line-height: 34px;
    }

    .phone_mb_part .q-text,.q-text01,.q-text02 {
        line-height: 38px;
    }

    /* s: 240325 큐레이션 수정 */

    .q-btn-group {
        margin: 40px 0;
    }

    .q-help {
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .q-txt {
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .q-btn label {
        width: 110px;
        height: 55px;
        font-size: 20px;
    }

    /* e: 240325 큐레이션 수정 */

    .m-br {
        display: inline-block;
        content: " ";
        padding: 0 0.1em;
    }

    .q-box .btn {
        width: 180px;
        padding: 11px 0 10px;
        line-height: 34px;
    }

    .q-box .btn-find {
        width: 401px;
        padding: 11px 0 10px;
        margin: 0 auto;
    }

    .q-box-phone .q-btn label {
        font-size: 16px;
        font-size: 22px;
        font-weight: bold;
    }

    .review-swiper .swiper-slide {
        flex-basis: 356px;
        min-width: 356px;
    }

    .review-swiper .card {
        margin-right: 30px;
    }

    .review-swiper .grade {
        left: 35px;
        width: 44px;
        font-size: 16px;
        line-height: 44px;
    }

    .more-bottom {
        position: absolute;
        top: 0;
        right: 15px;
        margin-top: 2px;
    }

    .more-bottom .btn {
        min-width: 96px;
        padding: 6px;
        font-size: 17px;
    }

    .main-video {
        margin-bottom: 20px;
    }

    .video-tag {
        margin-top: 7px;
        font-size: 18px;
    }

    .video-swiper-control {
        top: 6px;
        right: 15px;
        bottom: auto;
    }

    .icon-faq {
        margin-top: 4px;
    }

    .main .cs-banner {
        background: #fff;
    }

    .accordion-faq {
        overflow: hidden;
        position: relative;
        padding-right: calc(50% + 15px);
    }

    .accordion-faq .collapse-title {
        padding: 1rem 0;
        font-size: 1rem;
        line-height: 1.389;
    }

    .accordion-faq .collapse-title:after {
        transform: rotate(-90deg);
    }

    .faq-item .num {
        margin-right: 15px;
        font-size: 20px;
    }

    .faq-item .collapsing {
        position: absolute;
        transition: none;
    }

    .faq-item .collapsing,.faq-item .collapse {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        height: auto;
        padding-left: 15px;
    }

    .faq-item .collapse-content {
        overflow-y: auto;
        height: 100%;
        padding: 20px;
        padding-left: 50px;
        border-radius: 20px;
        font-weight: 400;
        line-height: 1.5;
        background: #ededed;
    }

    .faq-item .collapse-content:before {
        content: 'A';
        display: block;
        width: 35px;
        margin: 0 0 16px -25px;
        border-radius: 100%;
        color: #EA002C;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        line-height: 35px;
        background: #fff;
    }

    .acc-faq1 {
        overflow: hidden;
        position: relative;
        padding-right: calc(50% + 15px);
        border: 0;
        border-radius: 0;
    }

    .acc-faq1 .btn-toggle {
        padding: 1rem 35px 1rem 50px;
        font-size: 1rem;
        line-height: 1.389;
    }

    .acc-faq1 .btn-toggle:after {
        right: 0;
        ;transform: rotate(-90deg) !important;
    }

    .acc-faq1 .faq-item .num {
        left: 2px;
        font-size: 20px;
    }

    .acc-faq1 .faq-item .acc-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        padding: 0;
        transition: none;
    }

    .acc-faq1 .faq-item .faq-content {
        overflow-y: auto;
        height: 100%;
        padding: 20px;
        padding-left: 50px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        background: #ededed;
    }

    .acc-faq1 .faq-item .faq-content:before {
        content: 'A';
        display: block;
        width: 35px;
        margin: 0 0 16px -25px;
        border-radius: 100%;
        color: #EA002C;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        line-height: 35px;
        background: #fff;
    }

    .acc-faq1 .faq-item .collapsing,.faq-item .collapse {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        height: auto;
        padding-left: 15px;
    }

    .acc-faq1 .faq-item .collapse-content {
        overflow-y: auto;
        height: 100%;
        padding: 20px;
        padding-left: 50px;
        border-radius: 20px;
        font-weight: 400;
        line-height: 1.5;
        background: #ededed;
    }

    .main-notice {
        height: 64px;
        border-top: 1px solid #eaeaea;
    }

    .notice-swiper {
        padding-right: 95px;
    }

    .notice-swiper,.notice-item {
        height: 63px;
    }

    .icon-notice {
        width: 34px;
        height: 23px;
        margin-top: -2px;
    }

    .notice-item .tit {
        padding: 0 16px;
    }

    .notice-swiper-control {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .modal-mainVideo .btn-close {
        width: 30px;
        height: 30px
    }

    .modal-mainVideo .video-wrp {
        margin-top: 50px
    }

}

@media (max-width: 1079.98px) {
    #wrap.main #hd {
        border-bottom: 0;
    }

    .is-scroll #wrap.main #hd {
        border-bottom: 1px solid #ebebeb;
    }

    /*
    .visual-image > img {width: 0;height: 0;}
    .visual-image {padding-bottom: 54.34%;background-repeat: no-repeat;background-size: cover;}
    .visual-swiper .swiper-pagination,.visual-swiper .swiper-button-next,.visual-swiper .swiper-button-prev {display: none;}*/
    .video-info {
        padding-right: 5.4rem;
    }

    .acc-faq1 {
        margin: 0 -1.6rem;
        border-top: 1px solid #e7e7e7;
    }

    .main-notice > .container {
        padding: 0;
    }

    .notice-swiper .swiper-wrapper {
        transform: none !important;
    }

    .notice-swiper .swiper-slide {
        height: auto !important;
        padding: 0 1.6rem;
        border-top: 1px solid #eaeaea;
    }

    .notice-swiper .swiper-slide-duplicate {
        display: none;
    }

    .notice-item .tit {
        font-size: 1.2rem;
    }

    .modal-mainVideo .btn-close {
        width: 20px;
        height: 20px
    }

    .modal-mainVideo .video-wrp {
        margin-top: 35px
    }

}

@media (max-width: 359.98px) {
    .lnb .nav-link {
        font-size: 12px;
    }

    .rcmd-item-self>li {
        width: 6.8rem;
        height: 6.8rem;
    }

    .rcmd-item-self>li>dl>dt {
        font-size: .9rem;
        margin-bottom: 0.2rem;
    }

    .rcmd-item-self>li>dl>dd {
        font-size: .9rem;
    }
}

@media (min-width: 359.98px) and (max-width: 414px) {
    .rcmd-box-phone .name {
        width: 140px;
    }
}


/* s: 241125 추가 */

@media (max-width: 1080px) {
    .visual-swiper .swiper-button-next,
    .visual-swiper .swiper-button-prev {
        display: none;
    }

    .visual-swiper .control {
        top: 1.1rem;
        right: 4rem;
    }

    .visual-swiper .fraction {
        padding: 0 1.1rem;
        top: 1.1rem;
        right: 6.8rem;
    }

    .visual-swiper .fraction .link-ev{
        display: none;
    }
}

/* e: 241125 추가 */



.main-evtbn {
    width: 100%;
    margin-top: 1.4rem;
    display: none;
}

.main-evtbn img {
    width: 100%;
}

@media (max-width: 1080px) {
    .main-evtbn {
        display: block;
    }
}



.q-slider-wrap {
    position: relative;
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 70px;
}

.q-slider_sign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(88, 87, 216, 0.22);
    border-radius: 99px;
    z-index: 2;
    cursor: pointer;
}

.q-slider_sign.minus {
    left: 0;
}

.q-slider_sign.minus::before {
    content: "";
}

.q-slider_sign.plus {
    right: 0;
}

.q-slider_sign.plus::before,
.q-slider_sign.plus::after {
    content: "";
}

.q-slider_sign::before,
.q-slider_sign::after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background-color: #000;
}

.q-slider_sign::after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.q-slider_val {
    position: absolute;
    display: block;
    width: calc(100% - 30px);
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    line-height: 1;
}

.q-slider_val > li {
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
}

.q-slider_val > li:nth-child(1) {
    left: 0;
}

.q-slider_val > li:nth-child(2) {
    left: 33.333%;
}

.q-slider_val > li:nth-child(3) {
    left: 66.666%;
}

.q-slider_val > li:nth-child(4) {
    left: 100%;
}

.q-slider {
    position: relative;
    width: 100%;
    height: 30px;
}

.q-slider_input {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    opacity: 0;
    margin: 0;
}

.q-slider_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
}

.q-slider_input::-moz-range-thumb {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
}

.q-slider_thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5857d8;
    box-shadow: 5px 5px 5px 0px rgba(88, 87, 216, 0.32);
    z-index: 2;
}

.q-slider_thumb::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 55%;
    border-radius: 50%;
    display: block;
    background-color: #fff;
}

.q-slider_line {
    height: 16px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #dddddd;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    z-index: 1;
}

.q-slider_line-fill {
    position: absolute;
    left: -1px;
    top: -1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 16px;
    width: 0;
    background-color: #5857d8;
}

.q-result-box-area {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.q-result-box-wrap {
    position: relative;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.q-result-box-wrap::before {
    content: "";
    position: absolute;
    background-color: #5857d8;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 80%;
    height: 40px;
    border-radius: 100%;
    filter: blur(20px);
    z-index: 0;
}

.q-result-box-wrap + .q-result-box-wrap {
    margin-top: 90px;
}

.q-result-tooltip {
    position: absolute;
    background-color: #5857d8;
    padding: 16px;
    border-radius: 12px;
    color: #fffd4a;
    width: 120%;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%,-10px);
    opacity: 0;
    visibility: hidden;
    top: -75px;
    z-index: 2;
    box-shadow: rgba(109, 116, 225, 0.22) 3px 8px 8px 0px;
    transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s, visibility ease-in-out 0.4s;
}

.q-result-tooltip.active {
    transform: translate(-50%,0px);
    opacity: 1;
    visibility: visible;
}

.q-result-tooltip::before {
    content: "";
    position: absolute;
    background-color: #5857d8;
    width: 46px;
    height: 46px;
    border-radius: 4px;
    transform: rotate(45deg);
    left: 22%;
    bottom: -8px;
    z-index: -1;
    box-shadow: rgba(109, 116, 225, 0.22) 3px 8px 8px 0px;
}

.q-result-box {
    position: relative;
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(109, 116, 225, 0.15) 0px 0px 18px 0px;
    border-radius: 16px;
    padding: 46px 40px 30px;
    z-index: 1;
}

.q-result-box .q-result-title {
    color: #111;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.q-result-box .q-result-price {
    color: #3717ce;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
}

.q-result-box .q-result-price .num {
    font-size: 40px;
}

.q-result-box .q-result-detail-list {
    margin-top: 20px;
}

.q-result-box .q-result-detail-list li {
    display: flex;
    justify-content: space-between;
    height: 38px;
    line-height: 38px;
    padding-left: 38px;
    font-size: 22px;
    color: #000;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.q-result-box .q-result-detail-list li:nth-child(1) {
    background-image: url(../../img/main/icon_data.png);
}

.q-result-box .q-result-detail-list li:nth-child(2) {
    background-image: url(../../img/main/icon_call.png);
}

.q-result-box .q-result-detail-list li:nth-child(3) {
    background-image: url(../../img/main/icon_sms.png);
}

.q-result-box .q-result-detail-list li + li {
    margin-top: 16px;
}

.q-result-box .q-result-detail-list .q-result-detail-title {
    font-weight: 500;
    margin-left: 11px;
}

.q-result-box .q-result-btn-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.q-result-box .q-result-btn-wrap .q-result-btn {
    flex: 1;
    color: #fff;
    background-color: #a2a2a2;
    height: 55px;
    border-radius: 99px;
    font-size: 20px;
}

.q-result-box .q-result-btn-wrap .q-result-btn.primary {
    background-color: #5857d8;
}

@media (max-width: 1080px) {
    .q-result-box-area {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .q-result-box {
        padding: 2.4rem 2rem 1.6rem;
    }

    .q-result-box .q-result-title {
        font-size: 1.4rem;
    }

    .q-result-box .q-result-price {
        font-size: 1.4rem;
    }

    .q-result-box .q-result-price .num {
        font-size: 2.2rem;
    }

    .q-result-box .q-result-detail-list {
        margin-top: 1.2rem;
    }

    .q-result-box .q-result-detail-list li {
        height: 2rem;
        line-height: 2rem;
        padding-left: 2rem;
        font-size: 1.4rem;
    }

    .q-result-box .q-result-detail-list .q-result-detail-title {
        margin-left: 0.6rem;
    }

    .q-result-box .q-result-detail-list li + li {
        margin-top: 1rem;
    }

    .q-result-box .q-result-btn-wrap {
        margin-top: 1.8rem;
        column-gap: 0.8rem;
    }

    .q-result-box .q-result-btn-wrap .q-result-btn {
        height: 3rem;
        font-size: 1.2rem;
    }

    .q-result-box-wrap + .q-result-box-wrap {
        margin-top: 6rem;
    }

    .q-result-tooltip {
        padding: 1rem;
        font-size: 1.2rem;
        max-width: 105%;
        top: -5rem;
    }

    .q-result-tooltip::before {
        bottom: -2px;
    }

    .q-slider-wrap {
        width: calc(100% - 3.2rem);
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        margin-top: 1.8rem;
        margin-bottom: 4rem;
    }

    .q-slider_val {
        top: 3.8rem;
        font-size: 1rem;
    }

    .q-slider {
        height: 3rem;
    }

    .q-slider_thumb {
        width: 3rem;
        height: 3rem;
    }

    .q-slider_line {
        height: 1.6rem;
        border-radius: 0.8rem;
    }

    .q-slider_line-fill {
        height: 1.6rem;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
    }

    .q-slider_input {
        height: 1.6rem;
    }

    .q-slider_sign {
        width: 2rem;
        height: 2rem;
    }

    .q-btn-group {
        flex-wrap: wrap;
    }
}
