@charset "UTF-8";

@font-face {font-family: 'NotoSans';font-weight: 300;font-style: normal;src: url(/html/cmmn/fonts/NotoSansCJKkr-Light.woff) format('woff');}
@font-face {font-family: 'NotoSans';font-weight: 400;font-style: normal;src: url(/html/cmmn/fonts/NotoSansCJKkr-Regular.woff) format('woff');}
@font-face {font-family: 'NotoSans';font-weight: 500;font-style: normal;src: url(/html/cmmn/fonts/NotoSansCJKkr-Medium.woff) format('woff');}
@font-face {font-family: 'NotoSans';font-weight: 700;font-style: normal;src: url(/html/cmmn/fonts/NotoSansCJKkr-Bold.woff) format('woff');}

body {margin: 0;padding: 0;}
* {box-sizing: border-box;vertical-align: baseline;margin: 0;padding: 0;border-radius: 0;font: 12px 'Noto Sans KR','NotoSans','Tahoma';font-size: inherit;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;text-size-adjust: none;word-break: break-all;letter-spacing: -.06em;list-style: none;-webkit-tap-highlight-color: transparent;-moz-box-sizing: border-box;}
.page {width: 21cm;min-height: 29.7cm;/*padding: 2cm;*/margin: 1cm auto;border-radius: 5px;background: white; box-shadow: 0 0 5px rgba(0, 0, 0, .1);}
@page {margin: 0;size: letter portrait;}
@media print {
	.page {width: initial;min-height: initial;margin: 0;border: initial;border-radius: initial;background: initial;box-shadow: initial;page-break-after: always;}
}
legend,caption {overflow: hidden;position: absolute;width: 1px;height: 0;border: none;clip: rect(1px 1px 1px 1px);clip: rect(1px, 1px, 1px, 1px);}
caption {position: static;color: transparent;}
h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, div,body { -webkit-print-color-adjust:exact; }

/* layout */
.header {position: relative;height: 130px;padding: 40px 0 0;text-align: center;background: #5857d8;-webkit-print-color-adjust: exact;color-adjust: exact;}
h1 {position: absolute;top: 40.33px;left: 46.09px;}
h1 img {height: 24.01px;}
h2 {color: #fff;font-size: 30.68px;font-weight: 700;line-height: 1;}
.list-box {display: inline-block;margin: 12.8px auto;padding: 7.36px 18.89px;border-radius: 3px;text-align: center;background: #1e8e80;-webkit-print-color-adjust: exact;color-adjust: exact;}
.list-box:after {content: '';display: block;clear: both;}
.list-box li {float: left;}
.list-box li + li {margin-left: 33.29px;}
.list-box li .tit,.list-box li .cont {float: left;vertical-align: middle;color: #fff;font-size: 13.34px; line-height: 20px;}
.list-box li .tit {font-weight: 400;}
.list-box li .cont {position: relative;margin-left: 6px;padding-left: 6px;font-weight: 700;}
.list-box li .cont:before {content: '';display: block;position: absolute;top: 50%;left: 0;width: 1px;height: 10.56px;margin-top: -5.28px;background: #fff;-webkit-print-color-adjust: exact;color-adjust: exact;}
.icon-chk {display: inline-block;vertical-align: middle;width: 15.04px;height: 15.04px;margin: -2px 5px 0 0;background: url(../img/icon_chk.png) no-repeat;-webkit-print-color-adjust: exact;color-adjust: exact;background-size: 100% 100%;}

.content {padding: 10px 46.09px 0;}
.text-right {text-align: right;}
.float-left {float: left;}
.float-right {float: right;}
.b-n {border: 0 !important;}
.pt-0 {padding-top: 0 !important;}
strong {font-weight: 700;}
.red {color: #EA002C !important;}

.tb {overflow: hidden;border: 2px solid #5857d8;border-radius: 5px;}
table {width: 100%;border-spacing: 0;border-collapse: collapse;line-height: 1.4;}
table th,table td {border-top: 1px solid #5857d8;font-size: 9.28px;font-weight: 700; text-align: left;word-break: break-all;}
table tr:first-child th,table tr:first-child td {border-top: 0;}
table th {vertical-align: top;padding: 2.5px 0 2.5px 10px;color: #5857d8;}
table td {vertical-align: middle;padding: 2.5px 10px;border-left: 1px solid #5857d8;}
table .point {padding: 2.5px 10px;color: #043d2f;font-size: 10.67px;background: #ecfffd;-webkit-print-color-adjust: exact;color-adjust: exact;}
table .font-sm {color: #000;font-size: .5em;font-weight: 400;}
table .bl {border-left: 1px solid #5857d8;}

.area1:after {content: '';display: block;clear: both;}
.area1 > div {float: left;width: 32.6%;}
.area1 > div + div {margin-left: 1%;}
.area1 th {width: 40%;}
.area1 table {min-height: 260px;}

.chk {position: relative;margin-right: 11.2px;padding-left: 11px;}
.chk:before {content: '';display: block;position: absolute;top: 3px;left: 0;width: 9.92px;height: 9.92px;background-image: url(../img/icon_chk1.png);-webkit-print-color-adjust: exact;color-adjust: exact;background-repeat: no-repeat;background-position: center center;background-size: auto 100%;}
.chk.on:before {background-image: url(../img/icon_chk_on.png);-webkit-print-color-adjust: exact;color-adjust: exact;}

.area2 > div {margin-top: 4px;}
.area2 > div:after {content: '';display: block;clear: both;}
.area2 h3 {float: left;color: #043d2f;;font-size: 10.67px;font-weight: 700;}
.area2 .tb {float: right;width: 82%;}

.area3 {margin-top: 4px;padding: 6px 20.17px 3px;background: #f7f7f7;-webkit-print-color-adjust: exact;color-adjust: exact;}
.area3 h3 {position: relative;margin-bottom: 4px;padding-left: 8px;color: #000;font-size: 11px;font-weight: 700;line-height: 1.2;}
.area3 h3:before {content: '';display: inline-block;position: absolute;top: 4px;left: 0;;width: 6px;height: 6px;background: #000;-webkit-print-color-adjust: exact;color-adjust: exact;}
.area3 h3.red:before {background: #EA002C;-webkit-print-color-adjust: exact;color-adjust: exact;}
.area3 ul {margin-bottom: 5px;}
.area3 li {position: relative;margin-left: 3px;padding-left: 5px;color: #000;font-size: 10px;line-height: 13.12px;}
.area3 li:before {content: '';display: inline-block;position: absolute;top: 5px;left: 0;vertical-align: middle;width: 2px;height: 2px;border-radius: 50%;background: #000;-webkit-print-color-adjust: exact;color-adjust: exact;}
.area3 li .underline {padding-bottom: 1px;border-bottom: 1px solid #000;}

.sign-wp {display: table;table-layout: fixed;overflow: hidden;width: 100%;margin: 3px 0 4px;border: 2px solid #5857d8;border-radius: 5px;background: #fff;-webkit-print-color-adjust: exact;color-adjust: exact;}
.sign-wp > div {display: table-cell;vertical-align: middle;height: 32px;padding: 0 21.13px;}
.sign1 {font-size: 13.3px;font-weight: 700;line-height: 1;}
.sign1 .grey {display: inline-block;margin: 0 3px;color: #d6d6d6;font-weight: 700;letter-spacing: 4px;}
.sign2 {border-left: 1px solid #5857d8;}
.sign2 span {vertical-align: top;color: #5857d8;font-size: 10.67px;font-weight: 700;line-height: 20px;}
.sign2 strong {vertical-align: top;color: #000;font-size: 13.3px;line-height: 20px;}

.info-wp {display: table;table-layout: fixed;overflow: hidden;width: 100%;margin: 2px 0 0;border: 2px solid #5857d8;border-radius: 5px;background: #ecfffd;-webkit-print-color-adjust: exact;color-adjust: exact;}
.info-wp > div {display: table-cell;vertical-align: middle;height: 32px;padding: 0 21.13px;}
.info1 {font-size: 13.3px;font-weight: 700;line-height: 1;}
.info1 .grey {display: inline-block;margin: 0 3px;color: #d6d6d6;font-weight: 700;letter-spacing: 4px;}
.info2,.info3 {border-left: 1px solid #5857d8;}
.info-wp span {vertical-align: top;color: #5857d8;font-size: 10.67px;font-weight: 700;line-height: 20px;}
.info-wp strong {vertical-align: top;color: #000;font-size: 13.3px;line-height: 20px;}

.page.v1 .header {padding-top: 14px; height: 97px;}
.page.v1 .btn-wp > button {display: inline-block; border:1px solid #fff; border-radius: 5px; width: 87px; height: 22px; text-align: center; background: none; cursor: pointer}
.page.v1 .btn-wp > button span {font-size: 9.28px; color:#fff; display: inline-block; vertical-align: top; line-height: 20px; }
.page.v1 .btn-wp > button span:before {display: inline-block; content:''; margin:0px 4px 0 0; vertical-align: top; background-repeat:no-repeat;background-size: 100% auto;background-position: center}
.page.v1 .btn-wp .btn-print span:before {width: 12px; height: 20px; background-image: url(../img/icon_print.png);-webkit-print-color-adjust: exact;color-adjust: exact;}
.page.v1 .btn-wp .btn-img span:before {width: 9px; height: 20px; background-image: url(../img/icon_img.png);-webkit-print-color-adjust: exact;color-adjust: exact;}
.page.v1 .btn-wp .btn-pdf span:before {width: 11px; height: 20px; background-image: url(../img/icon_pdf.png);-webkit-print-color-adjust: exact;color-adjust: exact;}
.page.v1 h1 {top: 38px;}
.page.v1 h2 {font-size: 25.07px;margin-top: 14.26px;}

.page.v1 .content {padding: 14.08px 19.31px 0;}
.page.v1 .tb .etc th,
.page.v1 .tb .etc td {height: 63.23px;}
.page.v1 .area3 {padding: 22.42px; border-radius: 5px; overflow:hidden; margin-top: 17.13px;}
.check {font-size:10.59px; font-weight: 700; color:#EA002C; margin-top: 15.57px; text-align: right}
.page.v1 .info-wp {margin-top: 21.8px;}
.ft-text {font-size: 9.28px; color: #333; font-weight: 500; text-align: right; margin-top: 31px}