/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Pretendard', Arial, sans-serif;
  line-height: 1;
  background-color: #e6e7eb;
  padding-top: 20px;
  color: #231815;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}
button:focus {
  outline: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.page {
  position: relative;
  width: 1400px;
  height: calc(1400px * (297 / 210)); /* A4 비율 유지 */
  margin-bottom: 20px;
  padding: 0 66px;
  background: white;
  outline: 1px solid #ced6e0;
}

.page-num {
  color: #727171;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19px;
  font-weight: 200;
  text-align: center;
  z-index: 1;
}

.date {
  position: absolute;
  text-align: right;
  font-size: 27px;
  font-weight: 200;
  z-index: 1;
  border: solid 3px;
  padding: 0px 6px 0px 6px;
}

.action-btn-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: fixed;
  bottom: 100px;
  left: calc(50% + 700px + 30px);
  z-index: 999;
}

.action-btn-group.top { /* 250502 버튼추가 */
  top: 100px; /* 2025.05.08 변경요청 */
}

.action-btn {
  background-color: #a2a2a2;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  width: 160px;
  border-radius: 8px;
}

.action-btn.primary {
  background-color: #179a8a; /* 2025.05.08 변경요청 */ /* #3617CE; */ /* #5857d8; */
  height: 50px;
}

.action-btn-group.top .action-btn.primary { /* 250502 버튼추가 */
  background-color: #3617CE;
  height: 100px;
  line-height: 1.4;
}

@media (max-width: 1850px) {
  .action-btn-group {
    left: auto;
    right: 30px;
    bottom: 40px;
  }
 
  .action-btn-group.top { /* 250502 버튼추가 */
    top: 40px; /* 2025.05.08 변경요청 */
  }

  .page:last-child {
    margin-bottom: 160px;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    width: 1400px;
    padding: 0;
    background-color: #fff;
    zoom: 0.567;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .page {
    width: 100%;
    page-break-after: always;
    outline: none;
  }
  .action-btn-group {
    display: none;
  }
}


.header-control {
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 18px;
  color: #E60039;
  font-weight: 600;
}

.header-control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: #fffcdb;
  border: 2px solid #E60039;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

/* s: 250306 온라인서식지 */

.control--radio .control__indicator:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23E60039' fill-rule='evenodd' d='m5 10 5-10H0l5 10Zm0-4 2.811-6H2.19L5 6Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  width: 11px;
  height: 11px;
  top: 1.5px;
  left: 50%;
  transform: translateX(-50%);
}

/* e: 250306 온라인서식지 */

.header-control input:checked ~ .control__indicator:after {
  display: block;
}

.b-r {
  position: relative;
  padding-right: 24px;
}

.b-r::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E60039;
  width: 2px;
  height: 18px;
}

.b-l {
  position: relative;
  padding-left: 24px;
}

.b-l::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E60039;
  width: 2px;
  height: 18px;
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.selected-option {
  padding: 10px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 4px;
  display: none;
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
}

.options li {
  padding: 10px;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
}

.options li:hover {
  background-color: #f1f1f1;
}

.custom-dropdown.active .options {
  display: block;
}

.custom-input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  flex: 1;
  min-width: auto;
  max-width: none;
  width: 100%;
}

.custom-input::placeholder {
  color: #C9CACA;
}

.radio input[type=radio],
.radio input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.radio input[type=radio] + .radio-label,
.radio input[type=checkbox] + .radio-label {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.radio input[type=radio] + .radio-label:before,
.radio input[type=checkbox] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #727171;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
  flex: none;
}

.radio input[type=radio]:checked + .radio-label:before,
.radio input[type=checkbox]:checked + .radio-label:before {
  background-color: #727171;
  box-shadow: inset 0 0 0 3px #fff;
}

.radio input[type=radio]:disabled + .radio-label:before,
.radio input[type=checkbox]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #fff;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.header {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #00998A;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding: 0 16px;
}

.desc {
  font-weight: 200;
}

.terms-title {
  position: relative;
  z-index: 1;
  color: #00998A;
  font-size: 20.6px;
  font-weight: 700;
}

.terms-title > strong {
  margin-left: 9px;
  color: #E60039;
}

.terms-content {
  position: relative;
}

.terms-content > img {
  position: relative;
  z-index: 0;
}

.terms-control {
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 18px;
  color: transparent;
  font-weight: 600;
}

.terms-control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.terms-control .control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: transparent;
  border: 2px solid transparent;
}
.terms-control .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

/* s: 250306 온라인서식지 */

.terms-control .control__indicator:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23E60039' fill-rule='evenodd' d='m5 10 5-10H0l5 10Zm0-4 2.811-6H2.19L5 6Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  width: 11px;
  height: 11px;
  top: 1.5px;
  left: 50%;
  transform: translateX(-50%);
}

/* e: 250306 온라인서식지 */

.terms-control input:checked ~ .control__indicator:after {
  display: block;
}

.guide-content {
  position: relative;
  display: flex;
}

.guide-content > img {
  position: relative;
  z-index: 0;
}

.guide-input {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  min-width: auto;
  max-width: none;
  font-size: 20px; /* 250306 온라인서식지 */
  z-index: 1;
}

.guide-input::placeholder {
  color: #C9CACA;
}

/* s: 250306 온라인서식지 */
.placeholder-16px::placeholder {
  font-size: 16px;
}
/* e: 250306 온라인서식지 */

/* s: 250724 온라인서식지 */
.check-icon {
  position: absolute;
  bottom: calc(100% + 2px);
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 34px;
  border-bottom: 8px solid #e60039;
  border-right: 8px solid #e60039;
  transform: rotate(45deg) translateX(-50%);
  z-index: 1;
}
/* e: 250724 온라인서식지 */


input:focus:not([readonly]),select:focus,label:focus,label:focus-within,div.custom-dropdown:focus-within,div.radio:focus-within {
  outline: blue 5px solid !important;
}

* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
  print-color-adjust: exact !important;          /* Standard */
}

/* input:not([required]):not([readonly]) {
  background-color: #4d407c9a !important;
} */
/* input[readonly] {
  background-color: #df1357ad !important;
} */

/* 실제 표시되는 span */
.dynamic-span {
  white-space: nowrap; /* 한 줄 유지 */
}

/* 숨겨진 span (폰트 크기 측정용) */
.hidden-span {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  font-size: 10px; /* 최소 폰트 크기 */
}