/* push message */
.box-push {margin-bottom:5px; padding:1.9rem 1.6rem 1.7rem 1.6rem; border-radius:1.6rem; background-color:#f7f7f7;}
.box-push .bpHead {display:flex; justify-content:space-between;}
.box-push .bpHead li {font-size:1.1rem; font-weight:300; color:#cbcbcb;}
.box-push .bpHead .title {padding-left:2.3rem; background:url('/html/images/icon/icon_bell.png') no-repeat 0 50% / 1.675rem auto;}
.box-push .bpHead .date {width: 80px; text-align: right} 
.box-push .bpMssg {padding:1rem 0 0 2.2rem; font-size:1.3rem; color:#acacac;}
.box-push .bpImg {padding:1rem 0 0 2.2rem; width:100%;}
.box-push.new {background-color:#eef0fb;}
.box-push.new .bpHead li { color:#666;}
.box-push.new .bpHead .title{background-image:url('/html/images/icon/icon_bell_new.png');}
.box-push.new .bpHead .date {width: 80px; text-align: right} 
.box-push.new .bpMssg {color:#000;}

 /* 230819 추가 */
.no-push-mssg {position:relative;}
.no-push-mssg p {margin:10rem 0; padding-top:90px; font-size:1.6rem; font-weight:700; text-align:center; background:url('/html/images/icon/icon_no_mssg.png') no-repeat 50% 0 / 50px auto;}  
