@charset 'UTF-8';

.acc-group {overflow: hidden;margin: 0 -1.6rem 0;border-top: 1px solid #d4d4d4;border-bottom: 1px solid #d4d4d4;}
.acc-group + .acc-group {margin-top: .5rem;}
.acc-group .acc-item + .acc-item {border-top: 1px solid #d4d4d4;}
.acc-group .acc-head {position: relative;padding: 1px 0;background: #f8f8f8;}
.acc-group .acc-head > p {width: 100%;padding: .83rem 2.6rem .83rem 1.6rem;color: #000;font-size: 1.25rem;font-weight: 400;text-align: left;}
.acc-group .acc-head .form-checkbox {vertical-align: top;}
.acc-group .btn-toggle {position: relative;width: 100%;padding: .83rem 2.6rem .83rem 1.6rem;color: #000;font-size: 1.25rem;font-weight: 400;text-align: left;}
.acc-group .btn-toggle:after {content: '';display: block;position: absolute;top: 50%;right: 1.6rem;width: 1.16rem;height: .5rem;background: url(https://www.sk7mobile.com/html/images/icon/icon_collapse.png) no-repeat;background-size: auto 100%;transition: transform .3s;transform: translateY(-50%);}
.acc-group .active .btn-toggle:after {transform: translateY(-50%) rotate(-180deg);}
.acc-group .btn-toggle.btn-right {position: absolute;top: 0;right: 0;width: 4rem;height: 100%;padding: 0;}
.acc-group .lst-dot {font-weight: 300;}
.acc-group .acc-content{height: auto;padding: 1.66rem 1.6rem;border-top: 1px solid #d4d4d4;font-size: 1.08rem;background: #fff;}
.acc-group .acc-content strong {font-size: 1.08rem;}
.acc-group.acc-type1 {margin: 4.16rem -1.6rem 0;}
.acc-group.acc-type1 .acc-head {background: #fff;}
.acc-group.acc-type2 .acc-head {background: #fff;}
.acc-group.acc-type1 .acc-content {background: #f8f8f8;}
.acc-group.acc-type2 .acc-content {background: #f8f8f8;}

.acc-group.agree {margin-top: 0 !important;margin-right: 0 !important;margin-left: 0 !important;border: 1px solid #d4d4d4;border-radius: .333rem;}
.acc-group.agree .acc-content {overflow-y: auto;max-height: 14.166rem;line-height: 1.5;}
.acc-group.agree-chkList {margin-right: 0;margin-left: 0;border: 1px solid #d4d4d4;border-radius: .333rem;}
.acc-group.agree-chkList .acc-content {padding: 1.66rem 1.6rem 1.66rem 2rem;}
.chk-list > li {position: relative;padding: 0 1.83rem 0 1.83rem;line-height: 1.25;}
.chk-list > li + li {margin-top: .83rem;}
.chk-list .form-checkbox.checkbox-type1 label {display: inline;vertical-align: top;padding: 0;line-height: 1.2;}
.chk-list .form-checkbox.checkbox-type1 label:before {left: -2rem;}
.chk-list .text {display: inline;overflow: hidden;position: relative;vertical-align: middle;color: #000;font-size: 1.166rem;}
.chk-list a.link-arrow {display: block;position: absolute;top: 50%;right: 0;width: 2rem;height: 2rem;transform:translateY(-50%);}
.chk-list a.link-arrow:after {content: '';display: block;position: absolute;top: 50%;left: 50%;width: 1.16rem;height: .5rem;background: url(https://www.sk7mobile.com/html/images/icon/icon_collapse.png) no-repeat;background-size: auto 100%;transform: translate(-50%,-50%) rotate(270deg);}
.chk-list .box-term {overflow: hidden;margin: .66rem -1.83rem .83rem -1.83rem;padding: 1rem;border-radius: .5rem;background: #f0f0f0;}
.chk-list .box-term > div {overflow-y: auto;height: 6.7rem;color: #666;font-size: 1rem;}
.chk-list .box-term .lst-dot > li {font-size:1rem;}
.chk-list .btn-toggle.btn-right {right: -.5rem;width: 2rem;height: 2rem;}
.chk-list .btn-toggle.btn-right:after {left: 50%;transform: translate(-50%, -50%);}
.chk-list .active .btn-toggle.btn-right:after {transform: translate(-50%, -50%) rotate(-180deg);}
.chk-list .toggle-cont {display: none;}
.chk-list .form-checkbox {display: inline;}

.acc-group.acc-faq {margin: 0;border-top: 1px solid #5857d8;border-bottom: 1px solid #5857d8;}
.acc-group.acc-faq + .acc-group.acc-faq {margin-top: 2.5rem;}
.acc-group.acc-faq .acc-head {background: #fff;}
.acc-group.acc-faq .btn-toggle {padding-left: 3.58rem;font-weight: 500;}
.acc-group.acc-faq .active .acc-head,.acc-group.acc-faq .acc-content {background: #f7f6fb;}
.acc-group.acc-faq .acc-content {position: relative;padding-left: 3.58rem;}
.acc-group.acc-faq .ball {display: inline-block;position: absolute;top: 1rem;left: .91rem;width: 1.66rem;height: 1.66rem;border-radius: 50%;color: #fff;font-family: 'Lato','NotoSans';font-size: 1.08rem;font-weight: 500;text-align: center;line-height: 1.66rem;background: #a2a2a2;}
.acc-group.acc-faq.top10 .ball,.acc-group.acc-faq .active .ball {background: #5857d8;}
.acc-group.acc-faq .acc-content .ball {top: 1.4rem;}

[class^=heading-depth] + .acc-group {margin-top: 0;}
.modal .agree-chkList {margin: 0 !important;}

@media (min-width:1080px) {
	.acc-group {margin: 0;border: 1px solid #dfdfdf;border-radius: 10px;}

	.acc-top {margin-top:30px;}

	.acc-group .acc-head > p {padding-right: 80px;padding-left: 50px;font-size: 21px;}
	.acc-group .acc-head label {vertical-align: top;}
	.acc-group .btn-toggle {padding-right: 80px;padding-left: 50px;font-size: 21px;}
	.acc-group .btn-toggle:after {right: 50px;width: 17px;height: 7px;}
	.acc-group .acc-body {}
	.acc-group .acc-content {padding: 50px;font-size: 16px;}
	.acc-group .acc-content.v1 {padding-top: 25px !important;padding-bottom: 25px !important;}

	.acc-group.acc-type1 {margin: 90px 0 0;}
	/* 추가 22.11.15 */
	.acc-group.acc-type2 {margin: 30px 0 0;}
	.acc-group.acc-type1 .acc-content {padding: 30px 50px;}

	.acc-group.agree .acc-content, .acc-group.agree .acc-content strong{max-height: 230px;font-size: 16px;}
	.acc-group.agree-chkList {margin: 0;border: 1px solid #d4d4d4;border-radius: .333rem;}
	.chk-list > li + li {margin-top: 10px;}
	.chk-list .form-checkbox.checkbox-type1 label:before {left: -30px;}
	.chk-list .text {font-size: 16px;}
	.chk-list a.link-arrow {width: 27px;height: 27px;}
	.chk-list a.link-arrow:after {width: 17px;height: 7px;}
	.chk-list .box-term > div {height: 6rem;font-size: 16px;}
	.chk-list .box-term .lst-dot > li {font-size:14px; line-height:20px;}
	.chk-list .btn-toggle.btn-right {right: 0;width: 27px;height: 27px;}

	.acc-group.acc-faq {border-right: 0;border-left: 0;border-radius: 0;}
	.acc-group.acc-faq .btn-toggle {padding-left: 105px; font-size:18px;}
	.acc-group.acc-faq .acc-content {padding: 20px 20px 20px 105px;}
	.acc-group.acc-faq .ball {top: 14px !important;left: 40px;width: 31px;height: 31px;line-height: 32px;}

	[class^=heading-depth] + .acc-group {margin-top: 0;}

	/* modal accordion */
	.modal .acc-group .acc-head > p,.modal .acc-group .btn-toggle {padding-left: 30px;}
	.modal .acc-group .btn-toggle.btn-right:after {right: 30px;}
	.modal .acc-group .acc-content {padding: 25px 30px;}
}
