@charset 'UTF-8';
/* modal */
.modal {display: none;overflow-x: hidden;overflow-y: auto;position: fixed;top: 0;left: 0;width: 100%;height: 100%;border: 0;}
.modal-backdrop.show {opacity: .65;}
.modal-dialog {max-width: 550px;}
.modal-content {overflow: hidden;border: 0;border-radius: .83rem;background: #fff;}
/*.modal-content:focus {outline: 1px dotted #000;}*/
.modal-content.bg-none {color: #fff;background: none;}
.modal .btn-close {overflow: hidden;position: absolute;top: 0;right: 0;width: 3.75rem;height: 3.75rem;border: 0;color: transparent;text-indent: 100%;white-space: nowrap;background: url(https://www.sk7mobile.com/html/images/icon/icon_close1.png) no-repeat center center;background-size: 1.33rem auto;cursor: pointer;}
.modal-head {padding: 1.5rem 4.58rem 1.25rem 1.5rem;}
.modal-head .title {display: inline-block;color: #000;font-size: 1.5rem;font-weight: 700;word-break: break-all;}
.modal-head .sub {margin-top: .33rem;color: #000;font-size: 1.08rem;}
.modal-head .sub.type2{font-size: 1.2rem;}
.modal-body {overflow-x: hidden;padding: 0 1.6rem;font-size: 1rem;}
.modal-body:after {content: '';display: block;width: 100%;height: 2.08rem;}
.modal-foot {display: -ms-flexbox;display: flex;align-items: center;justify-content: flex-end;flex-wrap: wrap;-ms-flex-wrap: wrap;-ms-flex-align: center;-ms-flex-pack: end;}
.modal-dialog-scrollable .modal-foot,.modal-dialog-scrollable .modal-head {flex-shrink: 0;-ms-flex-negative: 0;}
.modal-foot > span {display: block;flex: 1;}
.modal-foot .btn {display: block;width: 100%;padding: 1.5rem 0;border: 0 !important;border-radius: 0 !important;font-size: 1.41rem;font-weight: 400;line-height: 1;}

.modal-sm,.modal-lg {max-width: none;}
.modal-lg .modal-dialog {max-width: 800px;}

/* dimmed */
.dim {display: none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 100;background-color: #000;opacity: .6;}
.is_modal .dim {display: block !important;}
.is_modal {overflow: hidden !important;}

/* modal-alert */
.modal .alert-wp {color: #000;font-size: 1.33rem;text-align: center;}
/*.modal-loading .modal-content:focus {outline: 0;}*/

@media (min-width: 576px) {.modal-lg .modal-dialog {max-width: 560px;}}
@media (min-width: 760px) {.modal-lg .modal-dialog {max-width: 750px;}}
@media (min-width:1080px) {
	.modal-dialog {width: 550px;}
	.modal-content {width: 100% !important;border-radius: 16px;}

	.modal .btn-close {width: 60px;height: 60px;background-size: 22px auto;}
	.modal-head {padding: 30px 38px 20px;}
	.modal-head .title {font-size: 24px;}
	.modal-head .sub {margin-top: 5px;font-size: 18px;line-height: 24px;}
	.modal-head .sub.type2{font-size: 18px;}
	.modal-body {padding: 0 38px;}
	.modal-body:after {height: 40px;}
	.modal-foot .btn {font-size: 24px;}

	.modal-sm .modal-dialog {width: 450px;}
	.modal-md .modal-dialog {width: 600px;max-width: 600px;}
	.modal-lg .modal-dialog {width: 1000px;max-width: 1000px;}

	/* modal-alert */
	.modal .alert-wp {font-size: 20px;}
}
