@charset 'UTF-8';

/* Pagination */
.page-nav {margin-top: 2.75rem; position: relative; z-index: 1; text-align: center;}
.page-nav:before,
.page-nav:after {content: ''; display: table;}
.page-nav:after {clear: both;}
.page-nav a,
.page-nav strong {display:inline-block;vertical-align:middle;min-width: 2rem;border: 0;border-radius: 2rem !important;color: #999;font-size: 1.166rem;text-align: center;line-height: 2rem;}
.page-nav strong {background: #5857d8; color: #fff;}
.page-first,.page-prev,.page-next,.page-last {width: 2rem;height: 2rem;background-repeat: no-repeat;background-position: center;background-size: auto 1rem;}
.page-first {background-image: url(https://www.sk7mobile.com/html/images/icon/icon_first.png);}
.page-prev {margin-right: .55rem;background-image: url(https://www.sk7mobile.com/html/images/icon/icon_prev.png);}
.page-next {margin-left: .55rem;background-image: url(https://www.sk7mobile.com/html/images/icon/icon_next.png);}
.page-last {background-image: url(https://www.sk7mobile.com/html/images/icon/icon_last.png);}

@media (min-width:1080px) {
	.page-nav {margin-top: 40px;}
	.page-nav a,
	.page-nav strong {margin: 0 5px;min-width: 27px;padding: 0 5px;border-radius: 27px;font-size: 16px;line-height: 27px;}
	.page-first,.page-prev,.page-next,.page-last {width: 27px;height: 27px;background-size: auto 12px;}
	.page-nav a:hover,
	.page-nav a:focus {background-color: #eee;}
}
